@use "../abstract" as *;

/*----------------------------------------*/
/*  14. WHY CSS START
/*----------------------------------------*/

.why {
  &__thumb {
    position: relative;
    z-index: 1;
    margin-left: -35px;

    @media #{$md} {
      margin-top: 50px;
    }
    @media #{$sm} {
      margin-top: 50px;
    }
    @media #{$xs} {
      margin-top: 50px;
    }
    & img {
      @media #{$xs} {
        width: 100%;
      }
      &.why-green {
        position: absolute;
        z-index: -1;
        bottom: 10px;
        right: 0;
        @media #{$xl} {
          right: -23px;
        }
        @media #{$lg} {
          right: -19px;
        }
        @media #{$md} {
          right: -19px;
        }
        @media #{$sm} {
          right: 41px;
        }
        @media #{$xs} {
          right: 0px;
          width: 100%;
        }
      }
      &.why-pink {
        position: absolute;
        z-index: -2;
        bottom: -6%;
        left: 15%;
        @media #{$xs} {
          width: 80%;
        }
      }
      &.why-dot {
        position: absolute;
        right: 10%;
        bottom: 6%;
        @media #{$xs} {
          width: inherit;
        }
      }
      &.why-line {
        position: absolute;
        right: 0%;
        top: 28%;
        @media #{$xs} {
          width: inherit;
        }
      }
    }
  }
  &__btn {
    & .link-btn {
      font-size: 18px;
      font-family: $product-bold;
      color: $black;
      &:hover {
        color: $e-blue;
      }
      @media #{$xs} {
       margin-top: 10px;
      }
    }
    .e-btn {
      font-size: 18px;
      font-family: $product-bold;
      &:hover {
        background: $black;
      }
    }
  }
  &__content {
    .section__sub-title {
      font-size: 24px;
      font-family: $product-bold;
    }
    .section__title-wrapper {
      p {
        span {
          font-family: $product-bold;
        }
      }
    }
    @media #{$xs} {
      padding-right: 0;
    }
  }
  &__area {
    .hero__promotion {
      left: 5% !important;
      top: 35% !important;
    }
    .hero__promotion-icon {
      span {
        background: $e-pink-6;
      }
    }
    .hero__mic {
      top: unset;
      right: 30%;
      bottom: 30%;
    }
  }
}
.product-quantity button {
  @media #{$md,$sm,$xs} {
    white-space: nowrap;
  }
}
